@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

:root {
  --background-color: #3e4a61;
  --background-container: rgba(0, 0, 0, 0.2);
  --accent-color: #1a2639;
  --hover-color: #151f30;
  --font-color: #fefefe;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  font-family: "Oswald", sans-serif;
  color: var(--font-color);
}

img {
  display: none;
}

/*Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 10%;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--hover-color);
}

/* Counter */
.container {
  width: 90%;
  text-align: center;
  background-color: var(--background-container);
  border-radius: 15px;
  padding: 35px 0 40px;
  margin: 20px auto;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 50px;
  font-weight: normal;
}

.counter {
  font-size: 50px;
  margin: 10px 0 25px;
}

/* Buttons */
button {
  font-family: inherit;
  font-size: 18px;
  color: inherit;
  background-color: var(--accent-color);
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  transition: background-color 400ms ease-in-out;
}

button:hover,
button:active {
  background-color: var(--hover-color);
}

button.reset,
button.save,
button.delete {
  text-transform: uppercase;
}

button.save {
  display: block;
  margin: 10px auto 20px;
}

button.delete {
  font-size: 14px;
  margin-top: 15px;
}

/* Saved element */
.saved {
  width: 80%;
  font-size: 19px;
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  padding: 15px;
  margin: auto;
}

/* Media queries */
/* Mobile */
@media screen and (min-width: 415px) {
  .container {
    width: 80%;
  }
}

@media screen and (min-width: 576px) {
  .container {
    width: 70%;
  }

  h1,
  .counter {
    font-size: 55px;
  }

  button {
    font-size: 19px;
    padding: 14px 22px;
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .container {
    width: 60%;
  }

  .counter {
    margin: 15px 0 30px;
  }
}

/* Desktop */
@media screen and (min-width: 922px) {
  .container {
    width: 50%;
    margin-top: 30px;
  }

  h1 {
    font-size: 58px;
  }

  .counter {
    font-size: 55px;
  }

  button.save {
    margin-bottom: 25px;
  }

  button.delete {
    font-size: 15px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 550px;
  }

  h1 {
    font-size: 60px;
  }

  .counter {
    font-size: 58px;
  }
}
